<link rel='stylesheet' type='text/css' href='css/style.css'>
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <div id='train_container'>
  
  </div>

  <% if (token) { %>
    <div class='hidden' id='token'><%= token %></div>
  <% } %>

</body>
</html>


<script
  src='https://code.jquery.com/jquery-3.4.1.min.js'
  integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo='
  crossorigin='anonymous'></script>
<% if (token) { %>
  <script type='text/javascript' src='js/script.js'></script>
<% } %>



